---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Sobre Mim";

const identify = {
    firstName: "Alvaro",
    country: "Brasil",
    occupation: "Engenheiro de software",
    hobbies: ["tocar violão", "futebol", "xadrez"],
};

const skills = [
    "JavaScript",
    "Typescript",
    "React",
    "Astro",
];
---

<html lang="pt-br">
    <BaseLayout pageTitle={pageTitle}>
        <p>Aqui estão alguns fatos sobre mim:</p>
        <ul>
            <li>Meu nome é {identify.firstName}.</li>
            <li>
                Eu moro no {identify.country} e eu trabalho como {
                    identify.occupation
                }.
            </li>
            {
                identify.hobbies.length >= 2 && (
                    <li>
                        Dois dos meus hobbies são: {identify.hobbies[0]} e{" "}
                        {identify.hobbies[1]}
                    </li>
                )
            }
        </ul>
        <p>Alguma das minhas habilidades são:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
    </BaseLayout pageTitle={pageTitle}>
</html>
